* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.contenedor-form-torneo {

    width: 90%;
    max-width: 600px;

    margin: 60px auto;

    padding: 40px;

    background-color: #0d0d0d;

    border-radius: 16px;
}

.contenedor-form-torneo h1 {

    text-align: center;

    margin-bottom: 30px;
}

.campo-formulario {

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.campo-formulario label {

    margin-bottom: 8px;

    font-weight: 600;
}

.campo-formulario input,
.campo-formulario select{

    padding: 12px;

    border-radius: 8px;

    border: 1px solid #444;

    background-color: white;

    font-family: 'Inter', sans-serif;

    font-size: 1rem;
}

.campo-formulario input:focus,
.campo-formulario select:focus {

    outline: none;

    border-color: #f97316;
}

.campo-formulario select {

    display: block;
    width: 100%;



    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23666'%3E%3Cpath d='M1 3l5 5 5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;

    padding-right: 40px;
}

.boton-guardar {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background-color: #f97316;

    color: white;

    font-weight: 700;

    cursor: pointer;

    transition: 0.2s;
}

.boton-guardar:hover {

    opacity: 0.9;
}

.mensaje-error {

    color: #ef4444;

    text-align: center;

    margin-bottom: 20px;
}

 /* .volver-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #9ca3af;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.2s;
} */


.volver-link {
    display: inline-block;
    color: #9ca3af;
    text-decoration: none;
    margin-bottom: 25px;
}
.volver-link:hover {
    color: white;
}

