footer {
    margin-top: 3em;
    background-color: #1c1d1f;
    color: #ffffff;
}

.footer-equipo {
    border-top: 1px solid #ff7a1a3b;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

.footer-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 24px;
    margin-bottom: 10px;
    color: white;
}

.footer-copy {
    color: white;
    font-size: 12px;
}
