<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Administrar torneo</title>

    <!-- Link CSS al Header y Footer-->
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/css/crear-equipo.css}"/>-->
    <!--   <link rel="stylesheet" th:href="@{/css/admin-torneos.css}"/>-->

    <link rel="stylesheet" th:href="@{/css/admin-asignar-jugadores.css}"/>

    <!-- Fuente INTER   -->
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
</head>
<body>

<!--HEADER ADMIN -->
<div th:replace="layout/admin-header :: header-admin"></div>

<main>
    <section class="contenedor-admin-vista">

        <div th:if="${param.success}" class="mensaje-exito">
            <p th:text="${param.success}"></p>
        </div>

        <div th:if="${param.error}" class="mensaje-error">
            <p th:text="${param.error}"></p>
        </div>

        <div class="acciones-superiores">
            <h1>Administración de Torneos</h1>
            <div>
                <a th:href="@{/admin/torneo/crear}" class="btn btn-naranja">NUEVO TORNEO</a>
                <a th:href="@{/admin/home}" class="btn btn-naranja">VOLVER</a>
            </div>
        </div>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de torneo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="torneo : ${torneos}">
                    <td th:text="${torneo.nombreTorneo}"></td>
                    <td th:text="${torneo.tipoTorneo}"></td>
                    <td th:text="${torneo.fechaInicio}"></td>
                    <td th:text="${torneo.fechaFin}"></td>

                    <td>
                        <span th:if="${torneo.estadoTorneo.name() == 'EN_CURSO'}"
                              class="estado estado-curso">EN CURSO</span>
                        <span th:if="${torneo.estadoTorneo.name() == 'FINALIZADO'}"
                              class="estado estado-finalizado">FINALIZADO</span>
                        <span th:if="${torneo.estadoTorneo.name() == 'POR_INICIAR'}"
                              class="estado estado-por-iniciar">POR INICIAR</span>
                    </td>

                    <td>
                        <form th:action="@{/admin/torneo/eliminar/{id}(id=${torneo.id})}" method="post">
                            <button type="submit" class="btn btn-rojo">ELIMINAR</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>
</main>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>