<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Taller Web I - Admin</title>

    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin-home.css}"/>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
</head>
<body>

<!--HEADER ADMIN -->
<div th:replace="layout/admin-header :: header-admin"></div>


<main role="main" class="container">
    <h1>Panel de administración</h1>
    <p class="subtitulo">Gestioná equipos, torneos y el historial de la liga</p>

    <section class="contenedor-boton">
        <a th:href="@{/admin/altaEquipoNBA}" class="boton-equipo">
            <span class="titulo">Alta equipo NBA </span>

        </a>

        <a th:href="@{/admin/listadoEquiposNBA}" class="boton-equipo">
            <span class="titulo">Ver equipos NBA </span>

        </a>

        <a th:href="@{/admin/torneos}" class="boton-equipo">
            <span class="titulo">Administrar torneos </span>

        </a>

        <a th:href="@{/calendario}" class="boton-equipo">
            <span class="titulo">Torneo del finde </span>
            <span class="titulo">esta va a calendario </span>

        </a>

        <a th:href="@{/admin/historialTemporadas}" class="boton-equipo">
            <span class="titulo">Historial temporadas </span>
        </a>

        <a th:href="@{/admin/nuevo-admin}" class="boton-equipo">
            <span class="titulo">Registrar nuevo admin</span>
        </a>

    </section>
</main>

<!-- FOOTER -->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
