<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detalle Equipo NBA</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin-asignar-jugadores.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
</head>
<body>

<div th:replace="layout/header :: header"></div>

<main class="contenedor">

    <section class="datos-equipo">
        <img th:src="${equipo.escudoImagen}"
             th:alt="${equipo.nombre}"
             width="80"
             th:if="${equipo.escudoImagen != null}"/>
        <h2 th:text="${equipo.nombre}">Nombre Equipo</h2>
    </section>

    <section class="plantel-actual">

        <h2>PLANTEL</h2>

        <table>
            <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Posición</th>
                <th>Nacionalidad</th>
                <th>Edad</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jugador : ${plantel}">
                <td>
                    <img th:src="${jugador.foto}"
                         width="80"
                         th:alt="${jugador.nombre}"/>
                </td>
                <td th:text="${jugador.nombre}">Nombre</td>
                <td th:text="${jugador.apellido}">Apellido</td>
                <td th:text="${jugador.posicion}">Posición</td>
                <td th:text="${jugador.nacionalidad}">Nacionalidad</td>
                <td th:text="${jugador.edad}">Edad</td>
            </tr>
            </tbody>
        </table>

    </section>

    <hr>

    <a th:href="@{/admin/listadoEquiposNBA}">VOLVER</a>

</main>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>