<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear equipo</title>

    <!-- Link CSS al Header y Footer-->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/crear-equipo.css}">

    <!-- Fuente INTER   -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
</head>
<body>
<!--HEADER -->
<div th:replace="layout/header :: header"></div>

<main>


    <section class="contenedor-form-equipo">
        <h1> CREAR EQUIPO</h1>

        <h3> Torneo vigente : </h3>
        <!--guarda el nombre del equipo-->
        <form th:action="@{/guardarEquipo}" th:object="${equipo}" method="POST">
            <!-- el th:objet debe coincidir con el nombre de la variable
            del modelMap del controlador.(que es la "llave")-->

            <section class="contenedor-nombre-Equipo">
                <label for="nombreEquipo"> Ingrese el nombre: </label>
                <input type="text" th:field="*{nombreEquipo}" id="nombreEquipo" placeholder="Nombre de tu equipo"
                       required/>
                <!--Mensaje de error de la excepcion-->
                <p th:if="${error}" th:text="${error}" style="color:red;"></p>
            </section>

            <button type="submit" class="boton-equipo" disabled>
                SIGUIENTE
            </button>

        </form>
    </section>

</main>

<!--FOOTER-->
<div th:replace="layout/footer :: footer"></div>

<!--JAVASCRIPT-->
<script th:src="@{js/crearEquipo.js}"></script>

</body>
</html>