<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Taller Web I - Admin</title>

    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin-home.css}"/>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
</head>
<body>

<!--HEADER -->
<div th:replace="layout/header :: header"></div>


<main role="main" class="container">

    <p th:if="${usuario != null}">
        Bienvenido/a <span th:text="${usuario.nombre}"></span>
    </p>

    <h1>Panel de USUARIO </h1>


    <section class="contenedor-boton">
        <a th:href="@{/crear-equipo}" class="boton-equipo"> <span class="titulo">CREAR EQUIPO</span></a>
        <a th:href="@{/mercado}" class="boton-equipo">MERCADO DE JUGADORES</a>


    </section>
</main>

<!-- FOOTER -->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
