<!DOCTYPE HTML>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selecciona a tus jugadores</title>

    <!-- Link CSS al Header y Footer-->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link rel="stylesheet" th:href="@{/css/seleccionarJugadores.css}"/>

    <!-- Fuente INTER   -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
</head>
<body>
<!--HEADER -->
<div th:replace="layout/header :: header"></div>


<main>

    <h1 class="titulo-equipo">
        Elegí tus jugadores para el equipo
        <span th:text="${equipo.nombreEquipo}"></span>
    </h1>

    <p class="descripcion-equipo">
        Arma tu quinteto ideal seleccionando jugadores titulares y suplentes para
        cada posición. Una vez completado el equipo,apretá <strong>CREAR EQUIPO</strong> para guardar tu formación.
    </p>

    <form th:action="@{/guardar-equipo}" method="POST" class="formulario-equipo">

        <!--Necesario para que se vincule con el Equipo
        Si falta eso, tira error al crear el equipo -->
        <input type="hidden" name="idEquipo" th:value="${equipo.id}">

        <section class="bloque-titulares">

            <p class="subtitulo-bloque">Titulares</p>

            <!-- BASE 1 -->
            <div class="fila-posicion">
                <label class="etiqueta-posicion" for="baseTitular1">Base</label>
                <select name="baseTitular1" id="baseTitular1">
                    <option value="">Seleccionar un jugador</option>
                    <!-- Lo que va entre ${} debe coincidir con el nombre
                    de la key del controlador-->
                    <option th:each="jugador : ${listadoBases}"
                            th:value="${jugador.id}"
                            th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        <!--Se concatena con todos los atributos que se quieran mostrar (dps del . debe coinicidr cn el atributo de la clase)-->
                    </option>
                </select>
            </div>

            <!-- BASE 2 -->
            <div class="fila-posicion">
                <label class="etiqueta-posicion" for="baseTitular2">Base</label>
                <select name="baseTitular2" id="baseTitular2">
                    <option value="">Seleccionar un jugador</option>
                    <option th:each="jugador : ${listadoBases}"
                            th:value="${jugador.id}"
                            th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                    </option>
                </select>
            </div>

            <!-- ALERO 1 -->
            <div class="fila-posicion">
                <label class="etiqueta-posicion" for="aleroTitular1">Alero</label>
                <select name="aleroTitular1" id="aleroTitular1">
                    <option value="">Seleccionar un jugador</option>
                    <option th:each="jugador : ${listadoAleros}"
                            th:value="${jugador.id}"
                            th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                    </option>
                </select>
            </div>

            <!-- ALERO 2 -->
            <div class="fila-posicion">
                <label class="etiqueta-posicion" for="aleroTitular2">Alero</label>
                <select name="aleroTitular2" id="aleroTitular2">
                    <option value="">Seleccionar un jugador</option>
                    <option th:each="jugador : ${listadoAleros}"
                            th:value="${jugador.id}"
                            th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                    </option>
                </select>
            </div>

            <!-- PIVOT -->
            <div class="fila-posicion">
                <label class="etiqueta-posicion" for="pivotTitular">Pivot</label>
                <select name="pivotTitular" id="pivotTitular">
                    <option value="">Seleccionar un jugador</option>
                    <option th:each="jugador : ${listadoPivots}"
                            th:value="${jugador.id}"
                            th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                    </option>
                </select>
            </div>

        </section>

        <!-- JUGADORES SUPLENTES -->
        <section class="bloque-suplentes">
            <p class="subtitulo-bloque">Suplentes</p>
            <div class="lista-posiciones">

                <!--BASE SUPLENTE 1-->
                <div class="fila-posicion">
                    <label class="etiqueta-posicion" for="baseSuplente1">Base</label>
                    <select name="baseSuplente1" id="baseSuplente1">
                        <option value="">Seleccionar un jugador</option>
                        <option th:each="jugador : ${listadoBases}"
                                th:value="${jugador.id}"
                                th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        </option>
                    </select>
                </div>

                <!--BASE SUPLENTE 2-->
                <div class="fila-posicion">
                    <label class="etiqueta-posicion" for="baseSuplente2">Base</label>
                    <select name="baseSuplente2" id="baseSuplente2">
                        <option value="">Seleccionar un jugador</option>
                        <option th:each="jugador : ${listadoBases}"
                                th:value="${jugador.id}"
                                th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        </option>
                    </select>
                </div>

                <!-- ALERO SUPLENTE 1-->
                <div class="fila-posicion">
                    <label class="etiqueta-posicion" for="aleroSuplente1">Alero</label>
                    <select name="aleroSuplente1" id="aleroSuplente1">
                        <option value="">Seleccionar un jugador</option>
                        <option th:each="jugador : ${listadoAleros}"
                                th:value="${jugador.id}"
                                th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        </option>
                    </select>
                </div>

                <!-- ALERO SUPLENTE 2-->
                <div class="fila-posicion">
                    <label class="etiqueta-posicion" for="aleroSuplente2">Alero</label>
                    <select name="aleroSuplente2" id="aleroSuplente2">
                        <option value="">Seleccionar un jugador</option>
                        <option th:each="jugador : ${listadoAleros}"
                                th:value="${jugador.id}"
                                th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        </option>
                    </select>
                </div>

                <!-- PIVOT-->
                <div class="fila-posicion">
                    <label class="etiqueta-posicion" for="pivotSuplente">Pivot</label>
                    <select name="pivotSuplente" id="pivotSuplente">
                        <option value="">Seleccionar un jugador</option>

                        <option th:each="jugador : ${listadoPivots}"
                                th:value="${jugador.id}"
                                th:text="${jugador.nombre} + ' '
                            + ${jugador.apellido} +
                             ' - $' + ${jugador.precio}">
                        </option>
                    </select>
                </div>

            </div>

        </section>

        <!--BOTON-->
        <button type="submit" class="boton-equipo2"> CREAR EQUIPO</button>
    </form>
</main>

<!--FOOTER-->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>