
<footer th:fragment="footer">

    <section class="integrantes">
    <ul class="lista-integrantes">
        <li class="integrante">
            Federico,Sabrina
        </li>
        <li class="integrante">
            Lopez,Sofia
        </li>
        <li class="integrante">
            Mazza,Micaela
        </li>
        <li class="integrante">
            Moyano Vivas,Matias
        </li>
        <li class="integrante">
           Virzi,Valentin
        </li>
    </ul>
    </section>
        <div>
            <p class="titulo-materia">© 2026 - Taller Web</p>
        </div>

</footer>